& when (@media-common = true) {
    .message {
        &.success {
            background: @color-blue3;
            color: @color-white;
            a,
            a:hover{
                color: @color-white;
            }
            > *:first-child:before {
                color: @color-white;
            }
        }
        &.info {
            background: @color-sky-blue1;
            color: @color-white;
            font-weight: @font-weight__bold;
            a,
            a:hover {
                color: @color-white;
            }
            > *:first-child:before {
                color: @color-white;
            }
        }
        &.warning {
            background: @color-light-red;
        }
    }
}

