& when (@media-common = true) {
    .message.success {
        background: @color-blue3;
        color: @color-white;
    }
    .message.success a {
        color: @color-white;
    }
    .message.success a:hover {
        color: @color-white;
    }
    .message.success > *:first-child:before {
        color: @color-white;
    }
    .message.info {
        background: @color-sky-blue1;
        color: @color-white;
        font-weight: @font-weight__bold;
    }
    .message.info a {
        color: @color-white;
    }
    .message.info  a:hover {
        color: @color-white;
    }
    .message.info > *:first-child:before {
        color: @color-white;
    }
    .message.warning {
        background: @color-light-red;
    }

}

